<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    body {
        background: skyblue; font-family: verdana; color: white; text-align: center;
    }
    h1 {
        font-size: 40px; text-transform: uppercase; letter-spacing: 2px;
    }
    h2 {
        font-size: 30px; text-transform: uppercase; letter-spacing: 2px;
    }
    p, li{
        font-size: 20px; list-style: none;
    }
</style>
<body>
    <%- include('partials/nav') %>
    <h1>Welcome to the profile of <%= person %> </h1>
    <p><strong>Age: </strong><%= data.age %></p>
    <p><strong>Job: </strong><%= data.job %></p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>